@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Virtual Global College</h1></center>
</div>

        <center><h2>Welcome to Virtual Global College</h2>
        <p>
            Welcome to Virtual Global College, Ireland's number one online learning solution!
        </p></center>
    
    <div class="col-md-4">
        <h2>Students </h2>
        <p>By logging in and clicking "Students", you may manage student information, register courses, track your academic progress, view rules, and pay fees</p>
        
    </div>
    <div class="col-md-4">
        <h2>Teachers</h2>
        <p>By logging in and clicking "Teachers", you may check your courses, view the students that are registered for those courses, and check student grades </p>
        
    </div>
    <div class="col-md-4">
        <h2>Buying and Selling</h2>
        <p>Students and Teachers may login to use VGC's online book buying and selling feature.</p>
        
    </div>
</div>