@model AssignmentTest.Models.Student
@{
    ViewBag.Title = "Rules";
}


    <h2>Virtual Global College Registry: September 2016</h2>
<h3>General Rules of the University</h3>
<p>
    1) Student Identity Cards, issued to each student at Registration, shall be carefully retained and
    produced on demand by any University official or member of the academic staff or properly
    authorised University employee. A student may be required to submit her/his Student Identity
    Card to a member of the University security staff who will forward it to the Head of Security for
    retention over a period that will extend for no more than 48 hours from the time of handing
    over of the card by the student. If a student fails or refuses to produce his/her Student Identity
    Card on such demand, he or she may be denied access to any or all University premises and
    facilities. If the Student’s Identity Card is lost he/she should immediately inform the Student
    Records Office. A replacement may be issued on payment of a fee.
</p>
<p>
    2) A student entered for a course or courses is expected to attend all lectures, tutorials, laboratory
    classes and all other requirements given in each course for which he/she is registered.
</p>
<p>
    3) If a student changes his/her address, he/she must notify the Student Records Office as soon as
    possible.
</p>
<p>
    4) A student who wishes to withdraw from the University should before withdrawing, firstly notify
    the Student Records Office and the Library and secondly return his/her Student Identity Card to
    the Student Records Office. Students must also advise the Academic Advisory Office, Education
    House (01 708 3368). Failure to do this could affect later claims regarding fee remission or social
    welfare entitlements.
</p>
<p>
    5) The Tobacco (Health Promotion and Protection) Regulations, prohibit smoking in any part of the
    buildings of third level educational institutions.
</p>
<p>
    6) Motorists and cyclists must familiarize themselves with and adhere to the University’s Mobility
    and Traffic Management Policy. A general speed limit of 24 kilometres per hour applies on
    campus. Parking and cycling is prohibited in certain areas of the South Campus, including Saint
    Joseph’s Square, in the vicinity of the John Paul II library and in such other areas as are indicated
    on signposts. Bicycles must be left in bicycle racks which are provided in key locations around
    the campus. Cars must be parked only in the designated University parking areas on campus.
    Cars parked in such designated car parks must display a valid Parking Permit, which must be
    purchased at the start of the year. Parking to the front of Stoyte House and Long Corridor and in
    St. Joseph’s Square is restricted to designated staff and residents of St. Patrick’s College.
    Motorcycles are not permitted on the South Campus and must be parked in the vicinity of the
    bicycle racks inside the main gate.
</p>
<p>7) The University authorities may require a student during his/her period of study at the University
to attend a nominated medical practitioner or counsellor. The authorities would require such
attendance only where they consider it to be necessary for the safety or well being of the
student concerned and/or the safety or well being of another member or members of the
University community. In such cases the University authorities will be responsible for the cost of
the initial attendance but not in respect of any further attendance for treatment indicated.</p>
<p>
    8) A student may be denied access to any or all University premises or facilities without notice, and
    for such period of time as the University authorities see fit, in the event that the University
    authorities consider such exclusion to be necessary in the interests of the safety or well being of
    that student and/or any other member or members of the University.
</p>
<p>
    9) Any accident which occurs on campus must be reported to the University Safety Officer, without
    undue delay.
</p>
<p>
    10) Failure to comply with these rules may result in the imposition of disciplinary sanctions
    (including expulsion, fines, campus service and, in the case of the rule in relation to vehicles, the
    placing of adhesive stickers on vehicles and clamping).
</p>
<div>
    @Html.ActionLink("Back to Student Details", "Index")
</div>