@model AssignmentTest.Models.Book

@{
    ViewBag.Title = "Purchase";
}

<h4>Congraulations!! You have purchased this book. Details will be sent to your email address.</h4>
<h4> Thank you for using Virtual Global College's online book service</h4>


<div>
    @Html.ActionLink("Click here to return to list of books", "Index")
</div>

